<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="MailServer" value="mail.alvisoft.net"/>
    <add key="Port" value="25"/>
    <add key="UserName" value="noreply@alvisoft.net"/>
    <add key="Password" value="avsnoreply"/>
    <add key="Subject" value="Atención: "/>
    <add key="FromEmail" value="noreply@alvisoft.net"/>
    <add key="FromName" value="SCIRE WEB"/>
    <add key="CCEmail" value="olavy@alvisoft.net"/>
    <add key="BCCEmail" value="apedemonte@alvisoft.net"/>
    <add key="ToEmail" value="olavy@alvisoft.net"/>
    <add key="ToEmailAdm" value="olavy@alvisoft.net"/>
    <add key="SupportEmailAdm" value="atencioncliente@alvisoft.net"/>
  </appSettings>
</configuration>